.vscode
.tmp.drivedownload
/.tmp.drivedownload
.tmp.driveupload
/.tmp.driveupload
*.log
/Medios
/Medios_old
/Libraries/vendor
/Libraries/node_modules
/app/vendor
/app/node_modules
/app/resources/github
/vendor/
.env
/node_modules
/public/img
/app/App/Controllers/Admin/ia/images
/app/App/Controllers/Admin/ia/*.jpg
/app/App/Controllers/Admin/ia/*.txt
*.npy
